<script defer src="https://cloud.umami.is/script.js" data-website-id="017fd2bb-da31-49af-bbd3-89980d77d1c3"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Add DataTables CSS and JS -->
<link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

<link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.min.js"></script>

<!-- Add DataTables Select CSS and JS -->
<link href="https://cdn.datatables.net/select/2.0.0/css/select.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/select/2.0.0/js/dataTables.select.min.js"></script>


<!-- Open external links in new tab -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    var links = document.links;
    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
        if (links[i].hostname != window.location.hostname) {
            links[i].target = '_blank';
            links[i].rel = 'noopener noreferrer';
        }
    }
});
</script>
