<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/popup-banner.css' | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <div class="decorative-container">
        <!-- Left side cubes -->
        <div class="decorative-element left-element-1">
          <div class="cube-icon">
            <img src="{{ '/assets/svg/webhook.svg' | relative_url }}" alt="webhook">
          </div>
        </div>
        <div class="decorative-element left-element-2">
          <div class="cube-icon">
            <img src="{{ '/assets/svg/n8n-logo.svg' | relative_url }}" alt="n8n logo">
          </div>
        </div>
        
        <!-- Right side cubes -->
        <div class="decorative-element right-element-1">
          <div class="cube-icon">
            <img src="{{ '/assets/svg/code.svg' | relative_url }}" alt="Code symbol">
          </div>
        </div>
        <div class="decorative-element right-element-2">
          <div class="cube-icon">
            <img src="{{ '/assets/svg/pencil.svg' | relative_url }}" alt="Pencil">
          </div>
        </div>
        <div class="decorative-element right-element-3">
          <div class="cube-icon">
            <img src="{{ '/assets/svg/code-file.svg' | relative_url }}" alt="Code file">
          </div>
        </div>
      </div>
      
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <div class="header-buttons-row">
        <a href="{{ site.baseurl }}/" class="btn" data-umami-event="Button Creators">👥 Creators</a>
        <a href="{{ site.baseurl }}/workflows" class="btn" data-umami-event="Button Workflows">📊 Workflows</a>
        <a href="{{ site.baseurl }}/challenges" class="btn" data-umami-event="Button Challenges">🏆 Monthly Challenge</a>
      </div>
      <div class="header-buttons-row">
        {% if site.custom_buttons %}
          {% for button in site.custom_buttons %}
            <a href="{{ button.url }}" class="btn" data-umami-event="Custom button">{{ button.text }}</a>
          {% endfor %}
        {% endif %}
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="btn" data-umami-event="View on GitHub">View on GitHub</a>
        {% endif %}
      </div>
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
	  </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      {% include footer.html %}
    </main>

    {% include popup-banner.html %}

    <script src="{{ '/assets/js/popup-banner.js' | relative_url }}" defer></script>
  </body>
</html>
